Repository einarhauks/tesla-wall-connector: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: check-added-large-files
  - id: check-docstring-first
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-ast
  - id: check-builtin-literals
  - id: detect-private-key
  - id: mixed-line-ending
-   repo: local
    hooks:
      - id: bandit
        name: 🎰 Checking using bandit
        language: system
        types: [python]
        entry: poetry run bandit
        files: ^tesla_wall_connector/
        require_serial: true
      - id: black
        name: ☕️ Format using black
        language: system
        types: [python]
        entry: poetry run black
        require_serial: true
      - id: codespell
        name: ✅ Check code for common misspellings
        language: system
        types: [text]
        exclude: ^poetry\.lock$
        entry: poetry run codespell
      - id: flake8
        name: 👔 Enforcing style guide with flake8
        language: system
        types: [python]
        entry: poetry run flake8
        require_serial: true
      - id: poetry
        name: 📜 Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: pylint
        name: 🌟 Starring code with pylint
        language: system
        types: [python]
        entry: poetry run pylint
      - id: pytest
        name: 🧪 Running tests and test coverage with pytest
        language: system
        types: [python]
        entry: poetry run pytest
        pass_filenames: false
      - id: pyupgrade
        name: 🆙 Checking for upgradable syntax with pyupgrade
        language: system
        types: [python]
        entry: poetry run pyupgrade
        args: [--py36-plus]

Create README.md
  README.md
Due: codespell

Add license file
  LICENSE.md
Due: codespell

Added workaround for invalid JSON responses
  tesla_wall_connector/api.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Remove the update method from the pure data classes
  tesla_wall_connector/lifetime.py
  tesla_wall_connector/version.py
  tesla_wall_connector/vitals.py
  tesla_wall_connector/wall_connector.py
  tests/test_wall_connector.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Add info to pyproject.toml
  pyproject.toml
Due: codespell

Update version in order to publish updated package to pypi
  pyproject.toml
Due: codespell

Fix incorrect definition of pytest dependency
  pyproject.toml
Due: codespell

Update the aiohttp package
  poetry.lock
Due: none

minor spelling correction
  README.md
Due: codespell

Add handling for nan in JSON response
  pyproject.toml
  tesla_wall_connector/api.py
  tesla_wall_connector/exceptions.py
  tesla_wall_connector/wall_connector.py
  tests/test_wall_connector.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Remove stray member in api.py
  tesla_wall_connector/api.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Add handling for nan in JSON response (#3)
  pyproject.toml
  tesla_wall_connector/api.py
  tesla_wall_connector/exceptions.py
  tesla_wall_connector/wall_connector.py
  tests/test_wall_connector.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Update backoff dependency
  poetry.lock
  pyproject.toml
Due: codespell

Add total_power_w property to compute total active power from three phases
  tesla_wall_connector/vitals.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Add test assertion for total_power_w property in Vitals class
  tests/test_wall_connector.py
Due: black, codespell, flake8, pylint, pytest, pyupgrade

Add total active power (#11)
  tesla_wall_connector/vitals.py
  tests/test_wall_connector.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Create python-package.yml
  .github/workflows/python-package.yml
Due: codespell

Fix test run on Python 3.11
  poetry.lock
  pyproject.toml
Due: codespell

Bump version to 1.1.0
  pyproject.toml
Due: codespell

Create an action that runs tests (#15)
  .github/workflows/python-package.yml
  poetry.lock
  pyproject.toml
Due: codespell

replace async-timeout with asyncio.timeout
  .github/workflows/python-package.yml
  poetry.lock
  pyproject.toml
  tesla_wall_connector/api.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Add Wi-FI status information (#6)
  tesla_wall_connector/wall_connector.py
  tesla_wall_connector/wifi_status.py
  tests/test_wall_connector.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Align exposed fields with modern firmware
  tesla_wall_connector/version.py
  tesla_wall_connector/vitals.py
  tests/test_wall_connector.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Add split phase option for total power (#18)
  tesla_wall_connector/vitals.py
  tesla_wall_connector/wall_connector.py
  tests/test_wall_connector.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

chore: fix type issues
  examples/example.py
  tesla_wall_connector/wall_connector.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

build: switch to uv, ruff, and pyright
  .flake8
  .github/workflows/python-package.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: codespell

chore: auto-fix linting using ruff
  examples/example.py
  examples/simple_example.py
  tesla_wall_connector/__init__.py
  tesla_wall_connector/api.py
  tesla_wall_connector/exceptions.py
  tesla_wall_connector/lifetime.py
  tesla_wall_connector/version.py
  tesla_wall_connector/vitals.py
  tesla_wall_connector/wall_connector.py
  tesla_wall_connector/wifi_status.py
  tests/test_wall_connector.py
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

replace async-timeout with asyncio.timeout
  pyproject.toml
  tesla_wall_connector/api.py
  uv.lock
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

Remove library-level retry to prevent file descriptor exhaustion
  pyproject.toml
  tesla_wall_connector/__init__.py
  tesla_wall_connector/api.py
  tests/test_wall_connector.py
  uv.lock
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade

fix: better timeout handling
  pyproject.toml
  tesla_wall_connector/api.py
  tesla_wall_connector/wall_connector.py
  tests/test_wall_connector.py
  uv.lock
Due: bandit, black, codespell, flake8, pylint, pytest, pyupgrade
